name: Test Go

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  test:
    runs-on: ubuntu-18.04
    
    # use service containers to connect databases, webservices etc
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        env:
          POSTGRES_USER: root 
          POSTGRES_PASSWORD: root
          POSTGRES_DB: testdb
        ports:
          # map port 5432 on the service container to Docker host
          -  5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go  
    
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      run: make test
